 *{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
  header{
	display: flex;
	background-color: white;
	height: 80px;
	justify-content:space-between;
	align-items: center;
	border-bottom: 1px solid #b6b1b1;
}
.Myntra-home {
	height: 45px;
	
}
.logo_container {
	margin-left: 4%;
}
.nav-bar {
	display: flex;
	min-width: 500px;
	justify-content: space-evenly;
}

.nav-bar a {
	font-size: 14px;
	letter-spacing:.3px ;
	color: #282c3f;
	font-weight: 700;
	text-transform: uppercase;
	padding: 28px 0;
	border-bottom: 2px solid white;
	text-decoration: none;

}
.nav-bar a:hover {
	border-bottom: 2px solid #f54e77;
}
.nav-bar a sup {
	color: red;
	font-size: 10px;
}
.search-bar {
height: 40px;
min-width: 300px;
width: 30%S;
display: flex;
align-items: center;

}
.search-icon {
    box-sizing: content-box;
	height: 20px;
	padding: 10px;
	background-color: #f5f5f6;
	color: black;
	border-radius: 4px 0 0 4px;

}
.search-input {
color: #696e79;
background-color: #f5f5f6;
flex-grow: 1;
height: 40px;
border: 0;
	border-radius: 0 4px 4px 0;

}
.action-bar {
	display: flex;
	min-width: 200px;
	justify-content: space-evenly;
}
.action-con {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.action-con2 {
display: flex;
flex-direction: column;
align-items: center;


}
.action-con3 {
display: flex;
flex-direction: column;
align-items: center;
}

.banner-image {
	width: 400px;
  min-width: 100vw;

}

.banner-container {
	margin: 40px 0;
}
.category-heading {
	font-size: 40;
	font-weight: 60;
	text-layout: !important;

}
.catgory-items {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.main {
border-bottom: 1px solid pink;

}

.footer-con {
	padding: 30px 0px 40px 0px;
	background: #FAFBFC;
	display: flex;
	justify-content: space-evenly;
}
.footer-columan {
	display: flex;
	flex-direction:column;
}
.footer-columan a {
	color: #696b79;
	font-size: 15px;
	text-decoration: none;
	padding-bottom: 5px;
}
.footer-columan h3{
	color: black;
	font-size: 14px;
	margin-bottom:5px ;
}